<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/jour5/projet_web/public/styles.css">
    <title>Accueil</title>
</head>
<body>
    <div class="hero-section">
        <div class="overlay"></div>
        <div class="container">
            <img src="/img2.png" alt="Photo de profil">
            <h1>Bienvenue sur la page d'accueil</h1>
            <p>Découvrez tout ce que notre site a à offrir.</p>
            <a href="/about" class="button">En savoir plus</a>
        </div>
    </div>
</body>
</html>
